#sses1 li.highlight {

    display: none;
}
#sse1, #sses1 {
    display: inline;
    margin: 0;
    padding: 0;
}

/*CSS for background bubble*/
#sses1 li a {
    transition: all linear 0.4s;
    z-index: 1000;
}



@media(min-width: 768px) {
    #sses1 li.highlight {

        display: inline-block;
        height: 100%;
        background-color: #e13a57;
        z-index: 996;

        position: absolute;
        overflow: hidden;
    }
}
